<head>
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta charset="utf-8">
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Merriweather:400,400italic,700italic" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/theme/css/bootstrap.min.css">
  <link rel="stylesheet" href="/theme/css/style.css">
  <link rel="stylesheet" href="/theme/css/icons.css">
  <link rel="stylesheet" href="/theme/css/animate.min.css">
  <link rel="shortcut icon" href="/theme/img/ico/32.png" sizes="32x32" type="image/png"/>
  <link rel="apple-touch-icon-precomposed" href="/theme/img/ico/60.png" type="image/png"/>
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/theme/img/ico/72.png" type="image/png"/>
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/theme/img/ico/120.png" type="image/png"/>
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/theme/img/ico/152.png" type="image/png"/>
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
